<div class="sub-header-wrapper">
  <span class="text">
    Groups
  </span>
</div>

<ul>
  <li *ngFor="let group of groupSvc.list">
    {{group.name}}
    <div>{{groupsCtrl.getStringifiedUsers(group)}}</div>
  </li>
</ul>

<div *ngIf="groupSvc.list.length ==0" class="empty-message">
  There are currently no groups
</div>

<div class="sample-commands">
  Try these voice commands:
  <ul>
    <li>Add Group [group name]</li>
    <li>Continue Edit (if you were in the middle of adding a user)</li>
  </ul>
</div>